src/main/mule/logging_enable_portal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f297a3ca-1c08-482d-b454-074b52789185" >
		<db:generic-connection url="jdbc:h2:file:C:\Users\sometiwari\OneDrive - Deloitte (O365D)\Desktop\login_auth_db\test" driverClassName="org.h2.Driver" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7f8a210b-956b-4e52-a25c-b9d566b1662b" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="0bae00a7-261b-49ba-96c4-4a3fb16994e7" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="logging_enable_portalFlow1" doc:id="c815bc8d-8818-41b1-b982-84595c6a018c" >
		<logger level="INFO" doc:name="Logger" doc:id="d5df4ab5-03b9-413d-9b53-7eb43375b3a7" message="#[attributes.queryParams.Sort]"/>
		<ee:transform doc:name="Transform Message" doc:id="7611ea47-78a5-42f6-ae31-db08ff63817e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	setlimit: attributes.queryParams.limit,
	setoffset:attributes.queryParams.offset,
	setSort:attributes.queryParams.Sort,
	setdirection : attributes.queryParams.direction
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="b08ea0e0-1c0b-482a-97c1-e45d81a253b2" config-ref="HTTP_Request_configuration" path="/db/api/getreq">
					<http:query-params><![CDATA[#[output application/java
---
{
	offset : payload.setoffset,
	limit : payload.setlimit,
	Sort : payload.setSort,
	direction : payload.setdirection
}]]]></http:query-params>
				</http:request>
		<ee:transform doc:name="Transform Message" doc:id="09f6cabf-fab5-4cc1-af56-90ace9f2a230" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="logging_enable_portalFlow4" doc:id="8c21b143-1d55-413b-83b9-830bd03fe921" >
		<ee:transform doc:name="Transform Message" doc:id="2a71350f-23fe-4203-848c-cc07eb6f0c5c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	uriparams : attributes.uriParams.requestorId
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="uiparam" ><![CDATA[%dw 2.0
output application/json
---
{
	reqId : attributes.uriParams.requestorId
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="45131eae-5087-4a70-8a61-dc713eec93d6" message="#[payload]"/>
		<db:select doc:name="Select" doc:id="92a0e664-5023-46fc-9cf4-041c219e1f52" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from master_Table where  reqId = :uriparams;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:select>
	</flow>
</mule>
